In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('fertility_Diagnosis.csv')

In [3]:
df['Diagnosis'].replace({'N':0,"O":1},inplace=True)

In [4]:
df_class_0=df[df['Diagnosis']==0]
df_class_1=df[df['Diagnosis']==1]

In [11]:
df_test_over.Diagnosis.value_counts()

0    88
1    88
Name: Diagnosis, dtype: int64

In [6]:
df_class_1_over=df_class_1.sample(88,replace=True)
df_class_1_over.shape

(88, 10)

In [7]:
df_test_over=pd.concat([df_class_0,df_class_1_over],axis=0)

In [8]:
df_test_over.shape

(176, 10)

In [9]:
df_test_over

,Seasons,Age,Disease,Trauma,Surgical_intervention,Smoking,Fever,alcohol_consumption,Sitting,Diagnosis
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,0
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,0
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,0
5,-0.33,0.67,1,0,1,0,0.8,0,0.50,0
6,-0.33,0.67,0,0,0,-1,0.8,-1,0.44,0
...,...,...,...,...,...,...,...,...,...,...
23,1.00,0.69,1,0,1,-1,1.0,-1,0.44,1
27,1.00,0.78,1,1,0,1,0.6,-1,0.38,1
23,1.00,0.69,1,0,1,-1,1.0,-1,0.44,1
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,1
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,1

In [12]:
df_test_over.to_csv(r"C:\Users\VEDANG SAWANT\Desktop\Projects\Diagnosis\diagnosis.csv")